
<!-- <div class="navbar">
    <h1>Address Finder</h1>
    <div class="input-container">
      <input type="text" [(ngModel)]="lat" placeholder="Latitude" />
      <input type="text" [(ngModel)]="lng" placeholder="Longitude" />
      <button (click)="getAddress()">Find Address</button>
      <button (click)="getCurrentLocation()">Get My Location</button>
    </div>
  </div>
  <div class="content">
    <div *ngIf="result" class="result">{{ result }}</div>
    <div *ngIf="error" class="error">{{ error }}</div>
  </div> -->
  

  <div class="navbar">
    <h1>Reverse Geocoding</h1>
    <nav>
      <a (click)="navigatetoSql()" routerLink="/sql">SQL Table</a>
      <!-- <a routerLink="/content">Content</a> -->
    </nav>
  </div>


  
  <div class="content">
    <div class="input-container">
      <input type="text" placeholder="Enter Latitude" [(ngModel)]="lat" />
      <input type="text" placeholder="Enter Longitude" [(ngModel)]="lng" />
      <button (click)="getAddress()">Get Address</button>
      <button (click)="getCurrentLocation()">Get My Location</button>
    </div>
    <div *ngIf="result" class="result"> {{ result }}</div>
    <div *ngIf="error" class="error">{{ error }}</div>
  </div>

  <router-outlet></router-outlet>